transformers/org_pef_dtbook2pef/setups/sv_SE/validation/basic.sch

<?xml version="1.0" encoding="utf-8"?>
<!-- Rules generated on: 2009-09-10 11:56:05 -->
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron">
	<sch:title>DTBook 2005-3 Schematron tests</sch:title>
	<sch:ns prefix="dtb" uri="http://www.daisy.org/z3986/2005/dtbook/"/>
	<!-- Rule gen_1: Disallowed element: a -->
	<sch:pattern name="no_a" id="no_a">
		<sch:rule context="dtb:a">
			<sch:assert test="false">[Rule gen_1] No 'a'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_2: Disallowed element: abbr -->
	<sch:pattern name="no_abbr" id="no_abbr">
		<sch:rule context="dtb:abbr">
			<sch:assert test="false">[Rule gen_2] No 'abbr'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_3: Disallowed element: acronym -->
	<sch:pattern name="no_acronym" id="no_acronym">
		<sch:rule context="dtb:acronym">
			<sch:assert test="false">[Rule gen_3] No 'acronym'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_4: Disallowed element: address -->
	<sch:pattern name="no_address" id="no_address">
		<sch:rule context="dtb:address">
			<sch:assert test="false">[Rule gen_4] No 'address'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_5: Disallowed element: annoref -->
	<sch:pattern name="no_annoref" id="no_annoref">
		<sch:rule context="dtb:annoref">
			<sch:assert test="false">[Rule gen_5] No 'annoref'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_6: Disallowed element: annotation -->
	<sch:pattern name="no_annotation" id="no_annotation">
		<sch:rule context="dtb:annotation">
			<sch:assert test="false">[Rule gen_6] No 'annotation'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_7: Disallowed element: bdo -->
	<sch:pattern name="no_bdo" id="no_bdo">
		<sch:rule context="dtb:bdo">
			<sch:assert test="false">[Rule gen_7] No 'bdo'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_8: Disallowed element: bridgehead -->
	<sch:pattern name="no_bridgehead" id="no_bridgehead">
		<sch:rule context="dtb:bridgehead">
			<sch:assert test="false">[Rule gen_8] No 'bridgehead'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_9: Disallowed element: byline -->
	<sch:pattern name="no_byline" id="no_byline">
		<sch:rule context="dtb:byline">
			<sch:assert test="false">[Rule gen_9] No 'byline'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_10: Disallowed element: cite -->
	<sch:pattern name="no_cite" id="no_cite">
		<sch:rule context="dtb:cite">
			<sch:assert test="false">[Rule gen_10] No 'cite'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_11: Disallowed element: code -->
	<sch:pattern name="no_code" id="no_code">
		<sch:rule context="dtb:code">
			<sch:assert test="false">[Rule gen_11] No 'code'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_12: Disallowed element: col -->
	<sch:pattern name="no_col" id="no_col">
		<sch:rule context="dtb:col">
			<sch:assert test="false">[Rule gen_12] No 'col'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_13: Disallowed element: colgroup -->
	<sch:pattern name="no_colgroup" id="no_colgroup">
		<sch:rule context="dtb:colgroup">
			<sch:assert test="false">[Rule gen_13] No 'colgroup'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_14: Disallowed element: covertitle -->
	<sch:pattern name="no_covertitle" id="no_covertitle">
		<sch:rule context="dtb:covertitle">
			<sch:assert test="false">[Rule gen_14] No 'covertitle'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_15: Disallowed element: dateline -->
	<sch:pattern name="no_dateline" id="no_dateline">
		<sch:rule context="dtb:dateline">
			<sch:assert test="false">[Rule gen_15] No 'dateline'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_16: Disallowed element: dfn -->
	<sch:pattern name="no_dfn" id="no_dfn">
		<sch:rule context="dtb:dfn">
			<sch:assert test="false">[Rule gen_16] No 'dfn'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_17: Disallowed element: kbd -->
	<sch:pattern name="no_kbd" id="no_kbd">
		<sch:rule context="dtb:kbd">
			<sch:assert test="false">[Rule gen_17] No 'kbd'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_18: Disallowed element: level -->
	<sch:pattern name="no_level" id="no_level">
		<sch:rule context="dtb:level">
			<sch:assert test="false">[Rule gen_18] No 'level'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_19: Disallowed element: linenum -->
	<sch:pattern name="no_linenum" id="no_linenum">
		<sch:rule context="dtb:linenum">
			<sch:assert test="false">[Rule gen_19] No 'linenum'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_20: Disallowed element: note -->
	<sch:pattern name="no_note" id="no_note">
		<sch:rule context="dtb:note">
			<sch:assert test="false">[Rule gen_20] No 'note'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_21: Disallowed element: noteref -->
	<sch:pattern name="no_noteref" id="no_noteref">
		<sch:rule context="dtb:noteref">
			<sch:assert test="false">[Rule gen_21] No 'noteref'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_22: Disallowed element: q -->
	<sch:pattern name="no_q" id="no_q">
		<sch:rule context="dtb:q">
			<sch:assert test="false">[Rule gen_22] No 'q'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_23: Disallowed element: samp -->
	<sch:pattern name="no_samp" id="no_samp">
		<sch:rule context="dtb:samp">
			<sch:assert test="false">[Rule gen_23] No 'samp'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_24: Disallowed element: sent -->
	<sch:pattern name="no_sent" id="no_sent">
		<sch:rule context="dtb:sent">
			<sch:assert test="false">[Rule gen_24] No 'sent'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_25: Disallowed element: table -->
	<sch:pattern name="no_table" id="no_table">
		<sch:rule context="dtb:table">
			<sch:assert test="false">[Rule gen_25] No 'table'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_26: Disallowed element: tbody -->
	<sch:pattern name="no_tbody" id="no_tbody">
		<sch:rule context="dtb:tbody">
			<sch:assert test="false">[Rule gen_26] No 'tbody'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_27: Disallowed element: td -->
	<sch:pattern name="no_td" id="no_td">
		<sch:rule context="dtb:td">
			<sch:assert test="false">[Rule gen_27] No 'td'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_28: Disallowed element: tfoot -->
	<sch:pattern name="no_tfoot" id="no_tfoot">
		<sch:rule context="dtb:tfoot">
			<sch:assert test="false">[Rule gen_28] No 'tfoot'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_29: Disallowed element: th -->
	<sch:pattern name="no_th" id="no_th">
		<sch:rule context="dtb:th">
			<sch:assert test="false">[Rule gen_29] No 'th'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_30: Disallowed element: thead -->
	<sch:pattern name="no_thead" id="no_thead">
		<sch:rule context="dtb:thead">
			<sch:assert test="false">[Rule gen_30] No 'thead'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_31: Disallowed element: tr -->
	<sch:pattern name="no_tr" id="no_tr">
		<sch:rule context="dtb:tr">
			<sch:assert test="false">[Rule gen_31] No 'tr'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_32: Disallowed element: w -->
	<sch:pattern name="no_w" id="no_w">
		<sch:rule context="dtb:w">
			<sch:assert test="false">[Rule gen_32] No 'w'</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_33: Allow in frontmatter (doctitle, docauthor, level1) --> 
	<sch:pattern name="allow_in_frontmatter" id="allow_in_frontmatter">
		<sch:rule context="dtb:frontmatter">
			<sch:assert test="count(dtb:doctitle|dtb:docauthor|dtb:level1)=count(dtb:*)">[Rule gen_33] Unallowed element in "frontmatter".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_34: Allow in bodymatter (level1) --> 
	<sch:pattern name="allow_in_bodymatter" id="allow_in_bodymatter">
		<sch:rule context="dtb:bodymatter">
			<sch:assert test="count(dtb:level1)=count(dtb:*)">[Rule gen_34] Unallowed element in "bodymatter".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_35: Allow in rearmatter (level1) --> 
	<sch:pattern name="allow_in_rearmatter" id="allow_in_rearmatter">
		<sch:rule context="dtb:rearmatter">
			<sch:assert test="count(dtb:level1)=count(dtb:*)">[Rule gen_35] Unallowed element in "rearmatter".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_36: Allow in level1 (h1, level2, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level1" id="allow_in_level1">
		<sch:rule context="dtb:level1">
			<sch:assert test="count(dtb:h1|dtb:level2|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_36] Unallowed element in "level1".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_37: Allow in level2 (h2, level3, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level2" id="allow_in_level2">
		<sch:rule context="dtb:level2">
			<sch:assert test="count(dtb:h2|dtb:level3|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_37] Unallowed element in "level2".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_38: Allow in level3 (h3, level4, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level3" id="allow_in_level3">
		<sch:rule context="dtb:level3">
			<sch:assert test="count(dtb:h3|dtb:level4|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_38] Unallowed element in "level3".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_39: Allow in level4 (h4, level5, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level4" id="allow_in_level4">
		<sch:rule context="dtb:level4">
			<sch:assert test="count(dtb:h4|dtb:level5|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_39] Unallowed element in "level4".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_40: Allow in level5 (h5, level6, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level5" id="allow_in_level5">
		<sch:rule context="dtb:level5">
			<sch:assert test="count(dtb:h5|dtb:level6|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_40] Unallowed element in "level5".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_41: Allow in level6 (h6, p, list, dl, div, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_level6" id="allow_in_level6">
		<sch:rule context="dtb:level6">
			<sch:assert test="count(dtb:h6|dtb:p|dtb:list|dtb:dl|dtb:div|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_41] Unallowed element in "level6".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_42: Allow in div (p, list, dl, blockquote, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_div" id="allow_in_div">
		<sch:rule context="dtb:div">
			<sch:assert test="count(dtb:p|dtb:list|dtb:dl|dtb:blockquote|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_42] Unallowed element in "div".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_43: Allow in list (hd, prodnote, li, pagenum) --> 
	<sch:pattern name="allow_in_list" id="allow_in_list">
		<sch:rule context="dtb:list">
			<sch:assert test="count(dtb:hd|dtb:prodnote|dtb:li|dtb:pagenum)=count(dtb:*)">[Rule gen_43] Unallowed element in "list".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_44: Allow in blockquote (p, list, dl, imggroup, poem, pagenum, sidebar, author, linegroup) --> 
	<sch:pattern name="allow_in_blockquote" id="allow_in_blockquote">
		<sch:rule context="dtb:blockquote">
			<sch:assert test="count(dtb:p|dtb:list|dtb:dl|dtb:imggroup|dtb:poem|dtb:pagenum|dtb:sidebar|dtb:author|dtb:linegroup)=count(dtb:*)">[Rule gen_44] Unallowed element in "blockquote".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_45: Allow in p (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_p" id="allow_in_p">
		<sch:rule context="dtb:p">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_45] Unallowed element in "p".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_46: Allow in author (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_author" id="allow_in_author">
		<sch:rule context="dtb:author">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_46] Unallowed element in "author".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_47: Allow in caption (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_caption" id="allow_in_caption">
		<sch:rule context="dtb:caption">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_47] Unallowed element in "caption".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_48: Allow in h1 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h1" id="allow_in_h1">
		<sch:rule context="dtb:h1">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_48] Unallowed element in "h1".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_49: Allow in h2 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h2" id="allow_in_h2">
		<sch:rule context="dtb:h2">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_49] Unallowed element in "h2".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_50: Allow in h3 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h3" id="allow_in_h3">
		<sch:rule context="dtb:h3">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_50] Unallowed element in "h3".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_51: Allow in h4 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h4" id="allow_in_h4">
		<sch:rule context="dtb:h4">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_51] Unallowed element in "h4".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_52: Allow in h5 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h5" id="allow_in_h5">
		<sch:rule context="dtb:h5">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_52] Unallowed element in "h5".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_53: Allow in h6 (pagenum, em, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_h6" id="allow_in_h6">
		<sch:rule context="dtb:h6">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_53] Unallowed element in "h6".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_54: Allow in hd (em, strong, sub, sup, span) --> 
	<sch:pattern name="allow_in_hd" id="allow_in_hd">
		<sch:rule context="dtb:hd">
			<sch:assert test="count(dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:span)=count(dtb:*)">[Rule gen_54] Unallowed element in "hd".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_55: Allow in docauthor (em, strong, sub, sup, span) --> 
	<sch:pattern name="allow_in_docauthor" id="allow_in_docauthor">
		<sch:rule context="dtb:docauthor">
			<sch:assert test="count(dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:span)=count(dtb:*)">[Rule gen_55] Unallowed element in "docauthor".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_56: Allow in doctitle (em, strong, sub, sup, span) --> 
	<sch:pattern name="allow_in_doctitle" id="allow_in_doctitle">
		<sch:rule context="dtb:doctitle">
			<sch:assert test="count(dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:span)=count(dtb:*)">[Rule gen_56] Unallowed element in "doctitle".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_57: Allow in em (pagenum, strong, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_em" id="allow_in_em">
		<sch:rule context="dtb:em">
			<sch:assert test="count(dtb:pagenum|dtb:strong|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_57] Unallowed element in "em".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_58: Allow in strong (pagenum, em, sub, sup, br, span) --> 
	<sch:pattern name="allow_in_strong" id="allow_in_strong">
		<sch:rule context="dtb:strong">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:sub|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_58] Unallowed element in "strong".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_59: Allow in sub (pagenum, em, strong, sup, br, span) --> 
	<sch:pattern name="allow_in_sub" id="allow_in_sub">
		<sch:rule context="dtb:sub">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sup|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_59] Unallowed element in "sub".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_60: Allow in sup (pagenum, em, strong, sub, br, span) --> 
	<sch:pattern name="allow_in_sup" id="allow_in_sup">
		<sch:rule context="dtb:sup">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:br|dtb:span)=count(dtb:*)">[Rule gen_60] Unallowed element in "sup".</sch:assert>
		</sch:rule>
	</sch:pattern>
	<!-- Rule gen_61: Allow in span (pagenum, em, strong, sub, sup, br) --> 
	<sch:pattern name="allow_in_span" id="allow_in_span">
		<sch:rule context="dtb:span">
			<sch:assert test="count(dtb:pagenum|dtb:em|dtb:strong|dtb:sub|dtb:sup|dtb:br)=count(dtb:*)">[Rule gen_61] Unallowed element in "span".</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
