samples/input/schema/xhtml-rdf.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="root">
  
  <mode name="root">
    <namespace ns="http://www.w3.org/1999/xhtml">
      <validate schema="xhtml.rng">
        <context path="head" useMode="rdf"/>
      </validate>
    </namespace>
  </mode>
  
  <mode name="rdf">
    <namespace ns="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
      <validate schema="rdfxml.rng" useMode="attach"/>
    </namespace>
  </mode>
  
  <mode name="attach">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode>
  
</rules>


