transformers/se_tpb_wordml2dtbook/tagset.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tpb.se/word2xmlstylesheet" targetNamespace="http://www.tpb.se/word2xmlstylesheet" elementFormDefault="qualified">
	<xs:element name="character">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tag" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string"/>
	<xs:element name="custom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="style" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mappings">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="standardWord" maxOccurs="unbounded"/>
				<xs:element ref="custom" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="noteref" type="xs:string"/>
	<xs:element name="pagenum" type="xs:string"/>
	<xs:element name="paragraphs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tag" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standardWord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tag">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="map"/>
				<xs:element ref="wrap"/>
				<xs:element ref="comment"/>
				<xs:element ref="pagenum"/>
				<xs:element ref="noteref"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="wrap">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="attribute">
					<xs:complexType>
						<xs:attribute name="value" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="using" type="xs:string" use="required"/>
			<xs:attribute name="addId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="merge" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
