transformers/se_tpb_wordml2dtbook/tagset.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tpb.se/ns/2006/wml2dtbook" targetNamespace="http://www.tpb.se/ns/2006/wml2dtbook" elementFormDefault="qualified">
	<xs:element name="character">
		<xs:annotation>
			<xs:documentation>Contains all character styles that should be addressed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Defines a style</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines that the style should become a comment</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="custom">
		<xs:annotation>
			<xs:documentation>Defines a set of customized rules</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="style" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifies this custom set</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines the value to map to</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mappings">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="standardWord" maxOccurs="unbounded"/>
				<xs:element ref="custom" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2006-1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="noteref" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pagenum" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paragraphs">
		<xs:annotation>
			<xs:documentation>Contains all paragraph styles that should be addressed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tag" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standardWord">
		<xs:annotation>
			<xs:documentation>Defines a set of default mappings to built-in Word styles</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:annotation>
					<xs:documentation>Defines the version of the built-in tag set</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tag">
		<xs:annotation>
			<xs:documentation>Defines a style</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="map">
					<xs:annotation>
						<xs:documentation>Defines that the style should map to the specified tag</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="wrap">
					<xs:annotation>
						<xs:documentation>Defines that the style should be wrapped in the specified tag</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="comment">
					<xs:annotation>
						<xs:documentation>Defines that the style should become a comment</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="pagenum">
					<xs:annotation>
						<xs:documentation>Defines that the style should become a pagenum</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="noteref">
					<xs:annotation>
						<xs:documentation>Defines that the style should become a noteref</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines the style name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="wrap">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="attribute">
					<xs:annotation>
						<xs:documentation>Defines attributes that should be added to the wrapping tag</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="value" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Defines the attribute value</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" type="xs:NMTOKEN" use="required">
							<xs:annotation>
								<xs:documentation>Defines the attribute name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines the tag to wrap with</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="using" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines the inner tag used when wrapping</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="addId" use="required">
				<xs:annotation>
					<xs:documentation>Defines if a unique id should be added to this tag</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="merge" use="required">
				<xs:annotation>
					<xs:documentation>Defines if consecutive styles should be merged within the same wrapping tag</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
