src/org/daisy/util/xml/catalog/z39862005/dtbook-2005.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar  
  ns="http://www.daisy.org/z3986/2005/dtbook/"
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:sch="http://www.ascc.net/xml/schematron"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"  
>
  <sch:ns prefix="dtbk" uri="http://www.daisy.org/z3986/2005/dtbook/"/>

  <a:documentation>
      Common RelaxNg schema for Z39.86 Dtbook version 2005 
      Last edit by: linuse 2006-10-19
	  Original version: mgylling 2005-07-01
      
      This schema only tests for things beyond the 
	  restrictions of 2005-1 and 2005-2 DTD.
	  
	  Version/change history:
	    le20061019: imported common tests from dtbook-2005-1.rng
      
  </a:documentation>
  
  <include href="../relaxngcommon/attributes.rng" />

  <sch:key name="notes" match="dtbk:note[@id]" path="@id"/>
  <sch:key name="annotations" match="dtbk:annotation[@id]" path="@id"/>

  <start>
      <ref name="root"/>  
  </start>
  
  <define name="root">
    <element name="dtbook">
      <ref name="dtbook.attlist"/>
      <oneOrMore>
        <ref name="anyElement"/>
      </oneOrMore>  
    </element>
  </define>
  
  <define name="dtbook.attlist">
    <attribute name="version">
      <text/>
    </attribute>
    <ref name="i18n.attributes"/>
  </define>
  
  <define name="i18n.attributes">
    <ref name="attribute.xml.lang.optional"/>
    <ref name="attribute.dir.optional"/>
  </define>
  
  <define name="anyElement">
    <element>
      <anyName>
	    <except>
	      <name>pagenum</name>
	    </except>
      </anyName>
      <zeroOrMore>
	    <choice>
	      <attribute>
		      <anyName/>  
	      </attribute>
	      <text/>
	      <ref name="anyElement"/>
	      <ref name="pagenum"/>
	    </choice>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="pagenum">
  	<element name="pagenum">
		<zeroOrMore>
	  		<attribute>	
	  			<anyName>
	  				<except>
	  					<name ns="">page</name>
	  				</except>
	  			</anyName>	
	  		</attribute>
		</zeroOrMore>
  		<choice>
  			<group>
  				<attribute name="page">
  					<value type="string">front</value>
  				</attribute>
  				<ref name="datatype.romannumeral"/>
  			</group>
  			<group>
  				<attribute name="page">
  					<value type="string">normal</value>
  				</attribute>
  				<ref name="datatype.positiveInteger"/>
  			</group>
  			<group>
  				<attribute name="page">
  					<value type="string">special</value>
  				</attribute>
  				<text/>
  			</group>
  		</choice>
  	</element>
  </define>
		
  <sch:pattern name="dtbook_MetaUid" id="dtbook_MetaUid">
    <!-- dtb:uid meta element exists -->
    <sch:rule context="dtbk:head">
      <sch:assert test="count(dtbk:meta[@name='dtb:uid'])=1"> 
        [sch][zedid::dtbook_MetaUid]
      </sch:assert>        
    </sch:rule>
  </sch:pattern> 

  <sch:pattern name="dtbook_MetaTitle" id="dtbook_MetaTitle">
    <sch:rule context="dtbk:head">
      <sch:assert test="count(dtbk:meta[@name='dc:Title'])=1"> 
        [sch][zedid::dtbook_MetaTitle]
      </sch:assert>  
    </sch:rule>
  </sch:pattern>

  <sch:pattern name="dtbook_idrefNote" id="dtbook_idrefNote">
    <sch:rule context="dtbk:noteref">	  
	  <sch:assert test="contains(@idref, '#')">
	    [sch][zedid::dtbook_noteFragment]
	  </sch:assert>
	  <sch:report test="contains(@idref, '#') and string-length(substring-before(@idref, '#'))=0 and count(key('notes',substring(current()/@idref,2)))!=1">
	    [sch][zedid::dtbook_idrefNote]
	  </sch:report>
	  <!-- Do not perform any checks on external note references
	       since you cannot set a URIResolver in Jing
	  <sch:report test="string-length(substring-before(@idref, '#'))>0 and not(document(substring-before(@idref, '#')))">External document does not exist</sch:report>
	  <sch:report test="string-length(substring-before(@idref, '#'))>0 and count(document(substring-before(@idref, '#'))//dtbk:note[@id=substring-after(current()/@idref, '#')])!=1">Incorrect external fragment identifier</sch:report>
	  -->
    </sch:rule>
  </sch:pattern>  

  <sch:pattern name="dtbook_idrefAnnotation" id="dtbook_idrefAnnotation">
    <sch:rule context="dtbk:annoref">
      <sch:assert test="contains(@idref, '#')">
	    [sch][zedid::dtbook_annotationFragment]
	  </sch:assert>
	  <sch:report test="contains(@idref, '#') and string-length(substring-before(@idref, '#'))=0 and count(key('annotations',substring(current()/@idref,2)))!=1">
	    [sch][zedid::dtbook_idrefAnnotation]
	  </sch:report>
	  <!-- Do not perform any checks on external note references
	       since you cannot set a URIResolver in Jing
	  <sch:report test="string-length(substring-before(@idref, '#'))>0 and not(document(substring-before(@idref, '#')))">External document does not exist</sch:report>
	  <sch:report test="string-length(substring-before(@idref, '#'))>0 and count(document(substring-before(@idref, '#'))//dtbk:annotation[@id=substring-after(current()/@idref, '#')])!=1">Incorrect external fragment identifier</sch:report>
	  -->
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 16: Targets of internal links must exist -->
  <sch:pattern name="dtbook_TPB_internalLinks" id="dtbook_TPB_internalLinks">
  	<sch:rule context="dtbk:a[starts-with(@href, '#')]">
  		<sch:assert test="count(//dtbk:*[@id=substring(current()/@href, 2)])=1">[tpb16] Targets of internal links must exist</sch:assert>
  	</sch:rule>  	
  </sch:pattern>  
  
  <!-- Rule 56: enum attribute only on numbered lists -->
  <!-- Warning only -->
  <sch:pattern name="dtbook_TPB_enumAttrInList" id="dtbook_TPB_enumAttrInList">
    <sch:rule context="dtbk:list">
    	<sch:report test="@enum and @type!='ol'">[tpb56] enum attribute only allowed in numbered lists</sch:report>
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 69: depth attribute of list elements -->
  <sch:pattern name="dtbook_TPB_depthList" id="dtbook_TPB_depthList">
    <sch:rule context="dtbk:list">
    	<sch:report test="@depth and @depth!=count(ancestor-or-self::dtbk:list)">[tpb69] depth attribute on list element must contain the list wrapping level</sch:report>
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 73: headers attribute on table cells -->
  <sch:pattern name="dtbook_TPB_headersThTd" id="dtbook_TPB_headersThTd">
    <sch:rule context="dtbk:*[@headers and (self::dtbk:th or self::dtbk:td)]">
    	<sch:assert test="
    		count(
    			ancestor::dtbk:table//dtbk:th/@id[contains( concat(' ',current()/@headers,' '), concat(' ',normalize-space(),' ') )]
			) = 
			string-length(normalize-space(@headers)) - string-length(translate(normalize-space(@headers), ' ','')) + 1
		">[tpb73] Not all the tokens in the headers attribute match the id attributes of 'th' elements in this or a parent table.</sch:assert>
	</sch:rule>
  </sch:pattern>
  
  <!-- Rule 74: imgref attribute on prodnote -->
  <sch:pattern name="dtbook_TPB_imgrefProdnote" id="dtbook_TPB_imgrefProdnote">
    <sch:rule context="dtbk:prodnote[@imgref]">
    	<sch:assert test="
    		count(
    			//dtbk:img/@id[contains( concat(' ',current()/@imgref,' '), concat(' ',normalize-space(),' ') )]
			) = 
			string-length(normalize-space(@imgref)) - string-length(translate(normalize-space(@imgref), ' ','')) + 1
		">[tpb74] Not all the tokens in the imgref attribute match the id attributes of 'img' elements.</sch:assert>
	</sch:rule>
  </sch:pattern>
  
  <!-- Rule 75: imgref attribute on caption -->
  <sch:pattern name="dtbook_TPB_imgrefCaption" id="dtbook_TPB_imgrefCaption">
    <sch:rule context="dtbk:caption[@imgref]">
    	<sch:assert test="
    		count(
    			//dtbk:img/@id[contains( concat(' ',current()/@imgref,' '), concat(' ',normalize-space(),' ') )]
			) = 
			string-length(normalize-space(@imgref)) - string-length(translate(normalize-space(@imgref), ' ','')) + 1
		">[tpb75] Not all the tokens in the imgref attribute match the id attributes of 'img' elements.</sch:assert>
	</sch:rule>
  </sch:pattern>
  
  <!-- Rule 76: accesskey and tabindex attribute on a -->
  <!-- The first two test should report error, the other two should report warning -->
  <sch:pattern name="dtbook_TPB_accesskeyTabindex" id="dtbook_TPB_accesskeyTabindex">
    <sch:rule context="dtbk:a">
    	<sch:report test="@accesskey and string-length(@accesskey)!=1">[tpb76] accesskey attribute on &lt;a&gt; elements may only be one character long</sch:report>
    	<sch:report test="@tabindex and string-length(translate(@width,'0123456789',''))!=0">[tpb76] tabindex of &lt;a&gt; elements must be expressed in numbers only</sch:report>
    	<sch:report test="@accesskey and count(//dtbk:a/@accesskey=@accesskey)!=1">[tpb76] accesskey attribute values must be unique within the document</sch:report>
    	<sch:report test="@tabindex and count(//dtbk:a/@tabindex=@tabindex)!=1">[tpb76] tabindex attribute values must be unique within the document</sch:report>
    </sch:rule>
  </sch:pattern>    
  
  <!-- Rule 77: char attribute of col, colgroup, tbody, td, tfoot, th, thead, tr -->
  <!-- Warning only. Remove the last two? -->
  <sch:pattern name="dtbook_TPB_charAttribute" id="dtbook_TPB_charAttribute">
    <sch:rule context="dtbk:*[self::dtbk:col   or self::dtbk:colgroup or self::dtbk:tbody or self::dtbk:td or 
                              self::dtbk:tfoot or self::dtbk:th       or self::dtbk:thead or self::dtbk:tr]">
    	<sch:report test="@char and string-length(@char)!=1">[tpb77] length of char attribute value must be one</sch:report>
    	<sch:report test="@char and @align!='char'">[tpb77] char attribute may only occur when align attribute value is 'char'</sch:report>
    	<!--
    	<sch:report test="@charoff and not(@char)">[tpb77] char offset attribute may only occur when align attribute value is 'char'</sch:report>
    	<sch:report test="@charoff and translate(@charoff,'0123456789','')!=''">[tpb77] char offset attribute value must be expressed in numbers</sch:report>
    	-->
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 79: width and height attributes of img -->
  <sch:pattern name="dtbook_TPB_imgWidthHeight" id="dtbook_TPB_imgWidthHeight">
    <sch:rule context="dtbk:img">
    	<sch:assert test="not(@width) or 
    	                  string-length(translate(@width,'0123456789',''))=0 or
    	                  (contains(@width,'%') and substring-after(@width,'%')='' and translate(@width,'%0123456789','')='' and string-length(@width)>=2)"
    	   >[tpb79] width of images must be expressed in pixels or percentage</sch:assert>
    	   <sch:assert test="not(@height) or 
    	                  string-length(translate(@height,'0123456789',''))=0 or
    	                  (contains(@height,'%') and substring-after(@height,'%')='' and translate(@height,'%0123456789','')='' and string-length(@height)>=2)"
    	   >[tpb79] height of images must be expressed in pixels or percentage</sch:assert>
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 80: attributes on the table element -->
  <sch:pattern name="dtbook_TPB_tableAttributes" id="dtbook_TPB_tableAttributes">
    <sch:rule context="dtbk:table">
    	<sch:assert test="not(@width) or 
    	                  string-length(translate(@width,'0123456789',''))=0 or
    	                  (contains(@width,'%') and substring-after(@width,'%')='' and translate(@width,'%0123456789','')='' and string-length(@width)>=2)"
    	   >[tpb80] width of tables must be expressed in pixels or percentage</sch:assert>
   	 	<sch:assert test="not(@cellspacing) or 
    	                  string-length(translate(@cellspacing,'0123456789',''))=0 or
    	                  (contains(@cellspacing,'%') and substring-after(@cellspacing,'%')='' and translate(@cellspacing,'%0123456789','')='' and string-length(@cellspacing)>=2)"
    	   >[tpb80] cellspacing of tables must be expressed in pixels or percentage</sch:assert>
		<sch:assert test="not(@cellpadding) or 
    	                  string-length(translate(@cellpadding,'0123456789',''))=0 or
    	                  (contains(@cellpadding,'%') and substring-after(@cellpadding,'%')='' and translate(@cellpadding,'%0123456789','')='' and string-length(@cellpadding)>=2)"
    	   >[tpb80] cellpadding of tables must be expressed in pixels or percentage</sch:assert>
    </sch:rule>
  </sch:pattern> 
    
  <!-- Rule 88: start attribute only on numbered lists -->
  <!-- First test warning only, the second test error -->
  <sch:pattern name="dtbook_TPB_startAttrInList" id="dtbook_TPB_startAttrInList">
    <sch:rule context="dtbk:list">
    	<sch:report test="@start and @type!='ol'">[tpb88] start attribute only allowed in numbered lists</sch:report>
    	<sch:report test="@start='' or string-length(translate(@start,'0123456789',''))!=0">[tpb88] start attribute must be a non negative number</sch:report>
    </sch:rule>
  </sch:pattern> 
  
  <!-- Rule 89: Verify dc-metadata names -->
  <sch:pattern name="dtbook_TPB_dcMetadata" id="dtbook_TPB_dcMetadata">
    <sch:rule context="dtbk:meta">
    	<sch:report test="starts-with(@name, 'dc:') and not(@name='dc:Title' or @name='dc:Subject' or @name='dc:Description' or
    	                                                    @name='dc:Type' or @name='dc:Source' or @name='dc:Relation' or 
    	                                                    @name='dc:Coverage' or @name='dc:Creator' or @name='dc:Publisher' or 
    	                                                    @name='dc:Contributor' or @name='dc:Rights' or @name='dc:Date' or 
    	                                                    @name='dc:Format' or @name='dc:Identifier' or @name='dc:Language')"
                          >[tpb89] Incorrect Dublin core metadata name</sch:report>
       <sch:report test="starts-with(@name, 'DC:') or starts-with(@name, 'Dc:') or starts-with(@name, 'dC:')">[tpb89] Incorrect Dublin core metadata prefix</sch:report>
    </sch:rule>
  </sch:pattern>
  
  <!-- Rule 94: span attribute on col and colgroup elements -->
  <sch:pattern name="dtbook_TPB_spanColColgroup" id="dtbook_TPB_spanColColgroup">
    <sch:rule context="dtbk:*[self::dtbk:col or self::dtbk:colgroup]">
    	<sch:report test="@span and (translate(@span,'0123456789','')!='' or starts-with(@span,'0'))">[tpb94] span on <name/> element must be a positive numeric</sch:report>
    </sch:rule>
  </sch:pattern>
  
   <!-- Rule 95: rowspan and colspan on td/th elements -->
   <!-- The two first are errors, the third should be warning only -->
  <sch:pattern name="dtbook_TPB_rowspanColspan" id="dtbook_TPB_rowspanColspan">
    <sch:rule context="dtbk:*[self::dtbk:td or self::dtbk:th]">
    	<sch:report test="@rowspan and (translate(@rowspan,'0123456789','')!='' or starts-with(@rowspan,'0'))">[tpb95] rowspan on <name/> element must be a positive numeric</sch:report>
    	<sch:report test="@colspan and (translate(@colspan,'0123456789','')!='' or starts-with(@colspan,'0'))">[tpb95] colspan on <name/> element must be a positive numeric</sch:report>
    	
    	<sch:report test="@rowspan and number(@rowspan) > count(parent::dtbk:tr/following-sibling::dtbk:tr)+1">[tpb95] rowspan attribute value on <name/> element must not be larger than the number of rows left in the table</sch:report>
    </sch:rule>
  </sch:pattern>  
  
	          
</grammar>